.article-list {
  margin: 0;
  padding: .4em;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 2;
}


.article-item {
  font-size: 0.95rem;
  border-radius: 0.4rem;
  transition: background 0.2s ease;
}


.article-item a {
  text-decoration: none;
  color: #111;
  display: block;
  width: 100%;
}

/* TABLET */
@media (max-width: 768px) {
   .article-list {
    gap: 0.4rem;
    line-height: 1.2;
  }
  .article-item {
    font-size: 0.9rem;
    padding: 0.55rem 0.7rem;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .article-list {
    gap: 0.4rem;
    line-height: 1.2;
  }

  .article-item {
    font-size: 0.85rem;
    padding: 0.5rem 0.6rem;
  }

  .article-item:hover {
    background: transparent; /* avoids awkward hover on touch */
  }
}



.back-link {
  margin-bottom: 1rem;
}

.back-link a {
  text-decoration: none;
  color: #075b51;
  font-weight: 600;
  display: inline-block;
  font-size: .8em;
}

.back-link a:hover {
  text-decoration: underline;
}


/* TABLET */
@media (max-width: 768px) {
  .back-link {
    margin-bottom: 0.8rem;
  }

  .back-link a {
    font-size: 0.8rem;
    padding: 0.35rem 0.55rem;
  }
}

/* MOBILE */
@media (max-width: 480px) {
  .back-link {
    margin-bottom: 0.6rem;
  }

  .back-link a {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    width: fit-content;
  }

  .back-link a:hover {
    background-color: transparent; /* avoids awkward touch hover */
  }
}
