.card{
  background-color: #191918; 
  border: .1px solid  #393835;
  border-radius: .4em;
  color: #fafafa;

  .card-title{
    border-bottom: .1px solid  #393835;
    padding: 1em;
    background-color: #1e1e1d;
    border-top-left-radius: .4em;
    border-top-right-radius: .4em;
  }

  .card-content{
    padding: 1em;
  }
}
