@use "card";
@use "user_info";
@use "markdown";
@use "homepage";
@use "welcomecard";
@use "header";
@use "not_found";
@use "./pages/articles";
@use "./pages/projects";
@use "./pages/about";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a{
  text-decoration: none
}

body{
  background-color: #f5f5f3;
}

.outlet-container{
  max-width: 890px;
  margin: 3rem auto;
  padding: .5em;
}

